**/.git
**/.gitignore
**/.gitattributes
**/.dockerignore
**/Dockerfile
**/*.Dockerfile
**/Dockerfile.*
**/docker-compose.yml
**/.editorconfig
**/.github

# Adapted from /.gitignore
**/node_modules
# Keep environment variables out of version control
**/.env
/prisma/dev.db
/prisma/dev.db-journal
/prisma/dev.db-shm
/prisma/dev.db-wal
**/.vscode
/dev.crt
/dev.key
/generated
/docker-compose-data
**/.DS_Store
