# Keep environment variables out of version control
.env
/prisma/prisma/dev.db
/prisma/prisma/dev.db-journal
/prisma/prisma/dev.db-shm
/prisma/prisma/dev.db-wal
/.vscode/launch.json
/dev.crt
/dev.key
/prisma/client
/prisma/node_modules
/docker-compose-data
.DS_Store
